body {
    --principal: #235789;
    --secun: #C1292E;
    --text: #161925;
    --acento: #F1D302;
    --branco: #FDFFFC;
    color: var(--text);
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;

    /*font-family: 'Righteous',cursive;*/
}

a {
    color: var(--secun);
}

a:hover {
    font-weight: bold;

}

.header,
.hero,
.nav__list,
.expo,
.projects__container,
.contact__list {
    display: flex;
}

.header {
    justify-content: space-between;
    margin: 40px;
}

.logo {
    width: 70px;
}

.nav__item {
    padding-left: 30px;
}


.hero {
    justify-content: space-around;
}

.hero__text,
.hero__world {
    width: 90%;
}

.hero__text {
    line-height: 50px;
    margin-left: 100px;
}

.hero__title {
    font-family: 'Righteous',
        cursive;
    font-size: 32px;
    color: var(--principal);

}

.hero__world {
    width: 60%;
}

#about,
#skills,
#projects,
#contact {
    margin: 50px;
}

.expo__title {
    font-family: 'Righteous',
        cursive;
    font-size: 24px;
    margin: 20px;

}

#about {
    border: var(--secun) solid 2px;
    background-color: var(--acento);
}

#skills {
    background-color: var(--principal);
    border: var(--secun) solid 2px;
    color: var(--branco);
    width: 50%;
}

.skills__list {
    list-style: square;
}

.card {
    margin: auto;
    line-height: 26px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 10px 18px 14px rgba(154, 199, 131, 0.993);
}


#projects {
    margin: 50px;
    padding: 20px;
}

.project {
    margin: 10px;
    text-align: center;
    background-color: #6a9cca65;
}

.project__title {
    padding: 20px;
    font-size: 24px;
    color: var(--secun);
}

.projects__title {
    padding: 20px;
    font-family: 'Righteous',
        cursive;
    font-size: 24px;
    margin: 20px;
}

#contact {
    text-align: center;
}

.contact__list {
    margin: auto;
    width: 50%;
    justify-content: space-around;
}

.project__img {
    width: 200px;
}

.contact__icon {
    width: 50px;
}

.quote,
.footer {
    text-align: center;
    margin: 50px;
}

.footer {
    background-color: var(--text);
    color: var(--branco);
}