@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
    --font: 'Cabin', sans-serif;
    --backgroundColor: #fffffe;

    padding: 0;
    margin: 0;
}

.main {
    background-color: var(--backgroundColor);
    height: 100vh;
}

.header, .nav__list, .footer {
    display: flex;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header__title {
    font-family: var(--font);
    font-weight: bold;
    font-size: 20px;
}

.nav__list {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    padding: 10px;
    font-family: var(--font);
}

.main__title {
    font-family: var(--font);
    font-weight: bold;
    font-size: 50px;
    float: left;
}

.main__illustration {
    width: 500px;
}

#about {
    height: 50vh;
}

.footer {
    justify-content: center;
}
.footer__text {
    text-align: center;
    font-family: var(--font);
}

